@import url('../StylePages/typography.css');
@import url('../StylePages/colors.css');
@import url('../StylePages/layout.css');

/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: var(--text-color);
}
/* Navigation */
nav {
    padding-top: 30px;
    padding-bottom: 30px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.home{
    text-decoration: underline;
    color: var(--text-color);
}
nav ul li a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
}
/* Buttons */
.button {
    padding: 10px 20px;
    background-color: var(--button-color);
    color: var(--background-color);
    text-decoration: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}
/* Article styles */
.author-details h3{
    margin-right: 200px;
}
.author-info .avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
.social-sharing{
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 10px;
}
.social-sharing a{
    text-decoration: none;
    font-size: 15px;
    color:   var(--text-color);
}

